<% if (typeof user === 'undefined') { %>
<footer id="footer">
    Athl Auto Rent &copy; <script>document.write(new Date().getFullYear())</script>
    | <a style="text-decoration: none;" href="/contact">Contact Us</a>
</footer>
<% } %>
</body>
</html>
