<nav class="navbar bg-dark navbar-expand-lg bg-body-tertiary"  data-bs-theme="dark">
    <div class="container-fluid">
      <a class="navbar-brand brand-font" href="/">Athl AutoRent</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/contact">Contact</a>
          </li>
        </ul>
        <ul class="d-flex navbar-nav ml-auto mb-lg-0">
          <% if (typeof user !== 'undefined') { %>
            <li class="nav-item">
              <a class="nav-link" href="/profile">Profile</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/addcars">Add Cars</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/logout">Log out</a>
            </li>
          <% }
          else {  %>
            <li class="nav-item">
              <div id="google_translate_element" class="nav-link"></div>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/login">Admin</a>
            </li>
            <% } %>
        </ul>
      </div>
    </div>
  </nav>
